{% extends 'base.html' %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}

	<h1 class="subheader">Logging new bug</h1>
	<p></p>
	
<form>

	<div class="form-group">
		<label for="description" >Description</label> 
		<div>
		<textarea id="description" name="description" cols="30" rows="3" class="form-control"></textarea>
		</div>
	</div> 

	<div class="form-group">
		<label for="reproduction_steps" >Reproduction steps</label> 
		<div>
		<textarea id="reproduction_steps" name="reproduction_steps" cols="30" rows="3" class="form-control"></textarea>
		</div>
	</div> 
	

	<div class="form-group">
		<label for="creation_date" >Severity</label> 
		<div>
		 <select name="severity" id="severity" class="form-control">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>			
		 </select> 	
	  </div>	
	</div>


   
	<p></p>
	<p></p>
	


	<div class="row justify-content-center">
		<div class="form-group">
			<input type=submit formaction="/create_bug" formmethod="post" class="btn btn-primary form-control" value="Log Bug" />
		</div>
	</div>	
	

</form>

	<div class="row justify-content-center">
  		<form action="/">
		  <div class="form-group">
			<input type=submit class="btn btn-primary form-control" value="Return To Bug List" />
		  </div>
		</form>	
	</div>
	
{% endblock %}

